ul {
  display: inline;
}

li {
  display: inline;
  padding: 10px;
  color: lightslategray;
  transition: 0.3s;
  margin-right: 10px;
}

.foreground {
  background-color: silver;
  margin: 25px;
}

.backdrop {
  padding: 5px;
  background-color: rgb(216, 216, 216);
}
.content {
  background-color: rgb(200, 200, 200);
}

li:hover {
  cursor: pointer;
  background-color: gray;
  transform: scale(1.2);
}

.nav-item {
  transition: 0.2s;
}
